:root {
  --primary-blue: #0573f3;
  --light-blue-bg: #e2edf5;
  --dark-text: #333333;
}

body {
  background-color: var(--light-blue-bg);
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
}

/* Web view styles
.web-view .split-screen {
  display: flex;
  height: 100vh;
}

.web-view .left-panel,
.web-view .right-panel {
  flex: 1;
  height: 100%;
}

Mobile view styles
.mobile-view {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  max-width: 390px;
  margin: 0 auto;
}

@media screen and (max-width: 390px) {
  .mobile-view {
    width: 100%;
  }
} */
